
@{
    ViewBag.Title = "Edit";
}

@Styles.Render("~/Content/editReview.css")


<h1 class="title text-center">Edit your review</h1>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <textarea class="form-control" rows="8" id="comment">Review here</textarea>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-default col-md-offset-5">Back</button>
        <button type="button" class="btn btn-primary">Edit</button>
    </div>
</div>

