@model MovieHub.Models.Review
@Styles.Render("~/Content/movieDetails.css")

<div class="col-sm-offset-4 col-sm-8 allComments">
    <div><strong><span class="author">@Model.Author.FirstName</span> said: </strong></div>
    <p>
        @Model.Content
    </p>
    
</div>
