@model MovieHub.Models.Review
<div class="col-sm-offset-3 col-sm-7 allComments">
    <div><strong><span >@Model.Author.FirstName</span> said: </strong></div>
    <p>
        @Model.Content
    </p>
    
</div>
