h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.title {
    font-family: 'Bradley Hand ITC';
}

input[type="text"], textarea, input[type="number"], input[type="datetime"] {
    width: 100%;
    max-width: 1000px;
}

label {
    font-size: 1.5em;
    color: cornflowerblue;
}

input[type="submit"] {
    font-size: 1.5em;
}
