.title {
    font-family: 'Bradley Hand ITC';
}

textarea {
    max-width: 1000px;
    width: 100%;
    margin-left: 1px;
}

.submitButton {
    display: block;
    margin: 3px;
    margin-top: 6px;
    margin-left: 45%;
}