.year {
    font-size:0.8em;
    color: grey;
}

.poster {
    width: 300px;
}

img {
    border-radius: 5%;
}

.vcenter {
    font-size: 1.2em;
    margin: 5px;
}

hr {
    width: 50%;
    color: grey;
}

.bold {
    font-weight: bold;
}

.details {
    font-size: 1.1em;
}

.rating {
    padding: 5px;
    font-size: 1.1em;
    border: 1px solid red;
    border-radius: 50%;
}

button {
    margin-left: 10%
}

#Content {
    max-width: 1000px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 150px;
}

.author {
    color: indigo;
    font-size: 1.2em;
    
}

.headerReview {
    font-family: 'Bradley Hand ITC';
}

.movieTitle {
    color:cornflowerblue;
}

.reviewButton {
    margin: 3px;
    /*margin-top: 0px;*/
    padding: 4px;
    font-size: 12px;
    width: 55px;
}